{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body %}
<section class="page-section mt-5" id="dashboard">
    <div class="container">
        <h2 class="page-section-heading text-left text-uppercase text-secondary mb-0">Création d'une catégorie</h2>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Retour à la liste</a>
</div>
</section>
{% endblock %}
