{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Bibliothèque virtuelle{% endblock %}

{% block body %}
<h1 class="col-12 my-3 mx-0 p-0">Mentions légales</h1>


<p class="col-12 mx-0 p-0 font-weight-bold">En vigueur au 17/04/2020</p>

<p class="col-12 mx-0 p-0">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site www.cleonet.fr les présentes mentions légales.
La connexion et la navigation sur le site {{ website_title }} par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>

<h3 class="col-12 mx-0 p-0 text-uppercase">Article 1 : L'éditeur</h3>
<p class="col-12 mx-0 p-0">L'édition du site {{ website_title }}.com est assurée par Florian MATHEVON à titre personnel et sans but lucratif, adresse e-mail : <a href="{{ path('contact') }}">Formulaire de contact</a><br>
Le Responsable de la publication est Florian MATHEVON.</p>

<h3 class="col-12 mx-0 p-0 text-uppercase">Article 2 : L'hébergeur</h3>
<p class="col-12 mx-0 p-0">L'hébergeur du site {{ website_title }}.com est la Société OVH Groupe SAS, dont le siège social est situé au 2 rue Kellermann 59100 Roubaix.</p>
<h3 class="col-12 mx-0 p-0 text-uppercase">Article 3 : Accès au site</h3>
<p class="col-12 mx-0 p-0">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.<br>
En cas de modification, interruption ou suspension des services le site www.cleonet.fr ne saurait être tenu responsable.</p>

<h3 class="col-12 mx-0 p-0 text-uppercase">Article 4 : Collecte des données</h3>
<p class="col-12 mx-0 p-0">Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>

<h3 class="col-12 mx-0 p-0 text-uppercase">Article 5 : Propriété intellectuelle</h3>
<p class="col-12 mx-0 p-0">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site www.cleonet.fr, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
{% endblock %}
