{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation - {{ website_title }}{% endblock %}

{% block body %}
<section class="page-section mt-5" id="cgu">
    <div class="container">
        <h2 class="page-section-heading text-left text-uppercase text-secondary mb-0">Conditions générales d'utlisation</h2>


        <p class="col-12 mx-0 p-0 font-weight-bold">En vigueur au 17/04/2020</p>

        <h3 class="col-12 mx-0 p-0 text-uppercase">ARTICLE 1 : A venir</h3>
        <p class="col-12 mx-0 p-0">A venir prochainement.</p>

    </div>
</section>

{% endblock %}
