{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation - Bibliothèque virtuelle{% endblock %}

{% block body %}
<h1 class="col-12 my-3 mx-0 p-0">Conditions générales d'utilisation</h1>


<p class="col-12 mx-0 p-0 font-weight-bold">En vigueur au 17/04/2020</p>

<h3 class="col-12 mx-0 p-0 text-uppercase">ARTICLE 1 : A venir</h3>
<p class="col-12 mx-0 p-0">A venir prochainement.</p>

{% endblock %}
