<form class="form-inline col-12 justify-content-center mb-2" method="GET">
  <label class="my-1 mr-2" for="category_filter">Catégories</label>
  <select class="custom-select my-1 mr-sm-2" id="category_filter" name="category">
    {% if categories %}
    <option value="all"
    {% if app.request.get('category') == 'all' %}selected{% endif %}>Toutes</option>
    {% for category in categories %}
      <option value="{{ category.id }}"
      {% if app.request.get('category') == category.id %}selected{% endif %}>{{ category.name }}</option>
    {% endfor %}
  {% endif %}
  </select>

  <label class="my-1 mr-2" for="order_book">Ordre</label>
  <select class="custom-select my-1 mr-sm-2" id="order_book" name="order">
      <option value="ASC"
      {% if app.request.get('order') == 'ASC' %}selected{% endif %}>Titres</option>
      <option value="DESC"
      {% if app.request.get('order') == 'DESC' %}selected{% endif %}>Titres inversés</option>
      <option value="NOTEDESC"
      {% if app.request.get('order') == 'NOTEDESC' %}selected{% endif %}>Les mieux notés</option>
      <option value="NOTEASC"
      {% if app.request.get('order') == 'NOTEASC' %}selected{% endif %}>Les moins notés</option>
  </select>

  <button type="submit" class="btn btn-primary my-1" title="Filtrer"><i class="fas fa-check"></i></button>
  <a class="btn btn-warning text-light ml-2" href="{{ path('book_list', {slug: user.slug}) }}" role="button" title="Supprimer les filtres"><i class="fas fa-sync"></i></a>
</form>