#books_img_home {
    border-radius: 50%;
    border: 2px solid #0b6674;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.page-section {
    padding-bottom: 3rem !important;
}

/* Dashboard (= ID) */
#avatar_profil {
    display: block;
    margin: 0 auto;
    margin-top: 0.05rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    width: 150px;
    height: 150px;
}

#avatar_profil_update_link {
    cursor: pointer;
}

#avatar_profil_update_link:hover {
    color: #117964 !important;
}

/* Annuaire (= class) */
.avatar_profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

#avatar_form label,
#avatar_form .custom-file {
    display: none;
}

#emailDashboardHelp {
    color: red !important;
}

#user_bio {
    border: 1px solid #0b6674;
    padding: 0.5rem;
    box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

.comment_book {
    border: 1px solid #0b6674;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

#add_book {
    position: fixed;
    cursor: pointer;
    bottom: 2rem;
    right: 2rem;
}

#add_book span.badge {
    border: 3px solid white;
}

.select2-results__option.loading-results {
    color: #17a2b8 !important;
}

.select2-selection__clear {
    color: red;
    font-weight: bold;
    font-size: 120%;
}

#book_info_form,
#manual_add_book_form {
    display: none;
}

#book_image_form {
    max-width: 150px;
    max-height: 200px;
}

#container_add_book_alert_message {
    height: 31px;
}

#add_book_alert {
    display: none;
}