#books_img_home {
    border-radius: 50%;
    border: 2px solid #0b6674;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#avatar_profil {
    display: block;
    margin: 0 auto;
    margin-top: 0.05rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    width: 150px;
    height: 150px;
}

#avatar_form label,
#avatar_form .custom-file {
    display: none;
}

#user_bio {
    border: 1px solid #0b6674;
    padding: 0.5rem;
    box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

.comment_book {
    border: 1px solid #0b6674;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

#add_book {
    position: fixed;
    cursor: pointer;
    bottom: 2rem;
    right: 2rem;
}

#add_book span.badge {
    border: 3px solid white;
}

.select2-results__option.loading-results {
    color: #17a2b8 !important;
}

.select2-selection__clear {
    color: red;
    font-weight: bold;
}

#book_info_form {
    display: none;
}

#book_image_form {
    max-width: 150px;
    max-height: 200px;
}