<p class="col-12 text-light bg-dark text-center">
    <a href="{{ path('legal_notice') }}" class="text-light bg-dark">Mentions légales<a> - 
    <a href="{{ path('terms_of_service') }}" class="text-light bg-dark">CGU<a> - 
    <a href="{{ path('contact') }}" class="text-light bg-dark">Contact<a>
</p>