{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<section class="page-section mt-5" id="dashboard">
    <div class="container">
        <h2 class="page-section-heading text-left text-uppercase text-secondary mb-0">Profil de {{ user.username|upper }}</h2>

{% if app.user %}
    <a href="{{ path('user_update', {id: app.user.id}) }}">Modifier mon profil</a>
{% endif %}

</div>
</section>
{% endblock %}
