{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ website_title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/viewPassword.css') }}">
{% endblock %}

{% block body %}
<section class="page-section mt-5" id="inscription">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Inscription</h2>

{% include 'user/_form.html.twig' with { 'form': form } %}

</div>
</section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/viewPassword.js') }}"></script>
{% endblock %}