{% extends 'base.html.twig' %}

{% block title %}Mise à jour profil{% endblock %}

{% block body %}
<h1 class="col-12 my-3 mx-0 p-0">Mise à jour profil</h1>

{% include 'user/_form.html.twig' with { 'form': form } %}

{% endblock %}
